<div class="topnav1">
    <div class="row">
          <div class="col-md-3">
              <a href="/">
                  <img alt="Flacon Delivery" src="../../assets/falcon.png" height="75" width="75">
              </a>
          </div>
          <div class="col-md-6">
            <div class="header-search">
              <form class="form-inline" method="get" action="/search">
                <input type="text" name="query" class="form-control" placeholder="Search here..." id="Query" value="">
              </form>
            </div>
          </div>
                

          
            <div class="wishlist-badge badge-icons pull-right">
              <a href="/wishlist"><i class="fa fa-heart-o"></i></a>
              
              <span class="badge badge-sea rounded-x">0</span>
              <div class="badge-open">
                </div>
            

           
              <div class="cart-badge badge-icons pull-right">
                <a href="cart"><i class="fa fa-shopping-cart"></i></a>
                <span class="badge badge-sea rounded-x">0</span>
                
                <div class="badge-open">
                    <a href="/home"><i class="fa fa-user-circle" style="padding-left:80%"></i> Logout</a>
                  </div>
             </div>
            </div>
          </div>

</div>